name: Deploy

on:
  push:
    tags: ['[0-9]+.[0-9]+*']

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          # sets up .npmrc file to publish to npm
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
      - name: Update npm
        run: npm install -g npm@latest
      - name: Build
        run: npm ci && npm run build
      - name: Publish
        run: npm publish
